@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

$color-slidetext: White;
$animation-zoom-duration: 6s;
$fontsize-slidetext: 40px;
$primary-ff: "Inter", sans-serif;

html,body {
    scroll-behavior: smooth;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    transition: 0.3s;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-x: hidden;
    font-family: $primary-ff;
    --article-delay-time: 300ms;
    
  }

  body {
    margin: 0;
  }
  #mainapp {
   width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }


.container {
    margin: 25px;
}

nav {
    font-size: 2em;
    position: fixed;
    inset: .5em auto auto 1em;
    z-index: 99;
    color: white;
    animation: nav-load 300ms ease-in var(--article-delay-time);
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;

}


section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    position: relative;
    overflow: hidden;
    
}

.discoverText {
    position: absolute;
    inset: 2.8em 2em auto auto;
    z-index: 99;
    color: white;
    font-size: clamp(1.2rem, 5vw, 1.6rem);
    a {
        color: white;
        text-decoration: none;
        &:hover {
            color: #f37115;
            text-decoration: underline;
        }
    }
}
  .slideParent {
    width: 100%;

    .slideImage {
      height: 100%;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      animation-fill-mode: forwards;
      animation-name: zoom;
      animation-duration: $animation-zoom-duration;
      animation-iteration-count: 1;
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: end;

      @media screen and (max-width: 1025px) {
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
      

      @media screen and (min-width: 1024px) {
        align-items: center;

      }



      .slideTitle {
        color: $color-slidetext;
        font-weight: bold;
        font-size: $fontsize-slidetext;
        height: 100%;
        display: flex;
        // justify-content: center;
        align-items: center;
      }
    }
  }

.slideImage {
  &.tab {
    background-image: url("/images/image2.jpg") !important;
  }
  &.mobile {
    background-image: url("/images/image3.jpg") !important;
  }
}

#slides {
  height: inherit;
  width: inherit;

}
.fade-enter-active {
  animation-name: fadeEnter;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.fade-move {
  transition: all 1s;
}
.fade-leave-active {
  animation-name: fadeLeave;
  animation-duration: 1s;
  animation-iteration-count: 1;
  position: absolute;
}
@keyframes zoom {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.1);
  }
}
@keyframes fadeEnter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeLeave {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes nav-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

$color-arrow : #f37115;
$color-slideindicator : rgb(116, 116, 116);
$color-playbutton : brown;
$color-pausebutton : #580843;
$controls-height-width : 30px;
$controls-width-width : 10px;
$controls-innerchild-right-margin: 15px;
$controls-pauseplay-topdown-margin: 10px;
$controls-pauseplay-font-size:20px;
$controls-squares-font-size:15px;
$controls-squares-active-backgroundcolor : rgb(58, 50, 173);
$controls-squares-active-font-color:white;
#slider {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: inherit;
    justify-content: start;
    .arrowLeft,.arrowRight{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: 20px solid transparent;
        cursor: pointer;
    }
    .arrowLeft{
        border-right-color: $color-arrow;    
        z-index: 1;
    }
    .arrowRight{
        right:0;
        border-left-color: $color-arrow;
    }

    .controls{
        position: fixed;
        bottom: 0;
        right: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        
        font-weight: bold;
        .squares{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            
            gap: 10px;
            div{
                height:$controls-width-width;
                width:$controls-height-width;
                line-height: $controls-height-width;
                text-align: center;
                display: inline-block;
                background-color: $color-slideindicator;
                transition: 0.3s;
               
                cursor: pointer;
                font-size: $controls-squares-font-size;

                &:hover,
                &.active{
                    width: 50px;
                    background-color:$controls-squares-active-backgroundcolor;
                    color:$controls-squares-active-font-color;
                }
            }

        }

    }
}

.carouselWrap {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0px 0px 0 95px;

    @media screen and (min-width: 1024px) {
      margin: 0 10em 0 0;
    }
    
}

.carousel {
    position:relative;
    width: inherit;
    height:300px;
    z-index:10;

}
.btn {
    padding:5px 10px;
    background-color:rgba(197, 197, 197, 0.5);
    border:1px solid transparent;
    margin:5px 10px;
    color:#FFF;
    height:50px;
    width:50px;
    position:absolute;
    margin-top:-70px;
    z-index:9999;
    transition: .3s;
}
.btn:hover {
    cursor: pointer;
    background-color: #f37115;
}
.btn:focus{
    outline:none;
}
.btn-next {
    top:50%;
    right: 0;
    
    @media screen and (min-width: 1024px) {
      right:60px;

    }
}
.btn-prev {
    top:50%;
    left:-50px;
}
.carousel-slider {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 9999;
}
.carousel-slider > * {
    width:100%;
    height:100%;
}
.carousel-sec > * {
    width:100%;
    height:100%;
}

.carousel-sec {
    display: flex;
    gap: 20px;
    width: 650px;
    overflow: hidden;

}

.carousel-box {
    background-color:rgba(129, 128, 128, 0.5);
    border-radius: 0 10px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: #FFF;
    width: 100%;
    height: 200px;
    min-width: 250px;
    padding-inline: 20px;
    
    color: #000;
    .carousel-heading {
        font-size: 1.5em;
        font-weight: bolder;
        margin-bottom: .5rem;
    }
}

.slideVideo {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #580843;

    #myVideo {

      width: 100vw;
      height: 100vh;
      object-fit: cover;
      // position: fixed;
      top: 0;
      left: 0;
      
       
      }
      
      /* Add some content at the bottom of the video/page */
      .content {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        color: #f1f1f1;
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            position: relative;
            font-size: 4em;
            color: #000;
            margin-bottom: 1em;
            text-align: center;
            &::after {
                content: '';
                width: 50%;
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform:translate(-50%,-50%);
                border-bottom: 8px solid #000;
            }
        }
        p {
            font-size: 1.4rem;
            color: #000;
            text-align: center;
        }
      }
      
      /* Style the button used to pause/play the video */
      #myBtn {
        width: 200px;
        font-size: 18px;
        padding: 10px;
        border: none;
        background: #000;
        color: #fff;
        cursor: pointer;
      }
      
      #myBtn:hover {
        background: #ddd;
        color: black;
      }

  }

  .btn-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
  }


/* Style the video: 100% width and height to cover the entire window */
